body {
  margin: 50px;
  display: flex;
  justify-content: space-around;
}

.choiсePizza{
  display: flex;
  margin-top: 100px;
  text-align: center;
  gap: 5px;
}

.choiсePizza img{
  width: 175px;
}

.pizzaActive{
  box-shadow:  0 0 5px 5px orangered;
}

.choiceSize {
  display: flex;
  background-color: silver;
  justify-content:space-between;
  border-radius: 15px;
  padding: 1px;
}

.size{
  padding: 5px;
  width: 50%;
  text-align: center;
}

.sizeActive {
  background-color: white;
  border-radius: 15px;
}

.toppings img{
  width: 80px;
}

.choiceTopping{
  display: flex;
  gap: 10px;
}

.topping{
  border-radius: 15px;
  box-shadow:  0 0 5px 5px silver;
  text-align: center;
}

.toppingActive{
  box-shadow:  0 0 5px 5px orangered;
}

button{
  margin-top: 100px;
  border-radius: 15px;
  background-color: orangered;
  width: 100%;
  border: none;
  color: white;
  padding: 10px;
}